@import "./constantes.scss";

#About h2  { font-family: KanitBold; font-size: 30px; color: $Bleu; margin-bottom: 30px; }
#About p  { font-family: Quicksand; font-size: 18px; color: $BleuAlt; }
#About span  { font-family: KanitMedium; font-size: 20px; color: $Orange; }
#About * {transition: .5s;}

.hide { display: none !important; opacity: 0; }
.show { display: block !important; opacity: 1;}
.showM { display: flex !important; opacity: 1;}

#confirmTag { width: 100%; height: 100vh; background: $BleuT; position: absolute; z-index: 100; top: 0; @include centerRow; transition: .5s;
              #TagMessage { width: fit-content; height: fit-content; background: $Blanc; border-radius: 15px; border: 4px solid $Jaune; @include centerRow; padding: 20px;
                            p {font-family: Quicksand; font-size: 18px; color: $Orange; font-weight: bold; }
                          }
            }


#About  { width: 80%; height: fit-content; min-height: 800px; margin: auto; @include centerRow; 
          #ALeft  { width: 70%; height: 85%; @include centerCol; justify-content: flex-start; margin-top: 50px;
                    #aboutus    { width: 90%; height: fit-content; margin-bottom: 75px;}
                    #contactus  { width: 90%; height: fit-content;}
                    form  { width: 100%; height: 500px; margin: 55px 0 30px; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
                            .champContact { width: 40%; height: fit-content; display: flex; flex-direction: column;
                                            p     { color: $Orange; font-size: 12px; margin-top: 10px;}
                                            label { font-family: KanitMedium; font-size: 20px; color: $Bleu; text-indent: 15px; margin-bottom: 5px;}
                                            input { font-family: Quicksand; font-size: 17px; color: $Bleu; background: #ebebeb; border-radius: 50px; border: none; padding: 10px 20px; filter: drop-shadow(0px 4px 4px rgba(0, 37, 64, 0.25));
                                                    &::placeholder  { color: $BlancAlt;}
                                                    &:hover { background: $Blanc; color: $Bleu;
                                                              &::placeholder  { color: $BleuAlt;}
                                                            }
                                                    &:focus { outline: none; background: $Blanc; color: $Bleu; font-weight: bold;}
                                                  }
                                            textarea  { min-height: 170px; height: fit-content; width: 95%; max-width: 95%; max-height: 250px; padding: 15px; border-radius: 15px 15px 0px 15px; border: none; background: #ebebeb; color: $Blanc; font-family: Quicksand; font-size: 17px; margin: auto; filter: drop-shadow(0px 4px 4px rgba(0, 37, 64, 0.25));
                                                        &::placeholder  { color: $BlancAlt;}
                                                        &:hover { background: $Blanc; color: $Bleu;
                                                                  &::placeholder  { color: $BleuAlt;}
                                                                }
                                                        &:focus { outline: none; background: $Blanc; color: $Bleu; font-weight: bold;}
                                                      }
                                          }
                            #champMessage { width: 100%;}
                            button  { width: 40%; height: fit-content; padding: 5px; background: $Bleu; border: none; border-radius: 50px; font-family: KanitBold; font-size: 20px; color: $Jaune; margin-top: 25px;
                                      &:hover { background: $Jaune; color: $Bleu; cursor: pointer;}
                                    }
                          }
                  }
          #ARight { width: 30%; height: fit-content; background: $Jaune;}
        }

// RESPONSIVE

@media screen and (max-width: 1000px) {
  #About  { @include centerCol;
            #ALeft  {width: 100%;}
            #ARight  {width: 100%;}
          }
}

@media screen and (max-width: 1000px) {
  #About  { 
            #ALeft  {
                      form  { flex-direction: column; height: 650px;
                              .champContact { width: 100%;}
                              button  { margin-top: 30px;}
                            }
                    }
            #ARight  {width: 100%;}
          }
}