
$Blanc: #F2F5F8;
$Bleu: #292F36;
$Jaune: #FFBF46;
$Orange: #E57B2E;

$BlancAlt: #AEB0B2;
$BleuAlt: #748599;
$JauneAlt: #B28631;
$OrangeAlt: #99521F;

$JauneT: #B2863180;
$BlancT: #F2F5F880;
$BleuT: #292F36CC;

@font-face { font-family: Quicksand; src: url(../Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);}
@font-face { font-family: KanitBold; src: url(../Fonts/Kanit/Kanit-Bold.ttf);}
@font-face { font-family: KanitMedium; src: url(../Fonts/Kanit/Kanit-Medium.ttf);}

a { text-decoration: none;}

@mixin centerRow { display: flex; flex-direction: row; justify-content: center; align-items: center;}
@mixin centerCol { display: flex; flex-direction: column; justify-content: center; align-items: center;}


// @media screen and (max-width: 450px) {}
