
header  { width: 100%; height: 415px; position: relative;
          #Header { width: 100%; height: 200px; background: #292F3699; position: absolute;}
          #HeaderCarousel { width: 100%; height: 500px; background: blue;
                            img { width: 100%; height: 100%;}
                          }
        }