@import "./constantes.scss";

.activeNav { filter: drop-shadow(0 0 4px $Jaune);}
.activeButton { background: $Bleu !important;}

header  { width: 100%; height: fit-content; position: relative;
          #Header { width: 100%; height: 200px; background: #292F3699; position: absolute; @include centerRow; justify-content: space-between;
                    #logo { width: 30%; height: 100%; @include centerRow;
                            img { width: 270px; height: 170px; transition: .5s;
                                  &:hover { filter: drop-shadow(0 0 4px $Blanc); cursor: pointer;}
                                }
                          }
                    #HeaderRight  { width: 60%; height: 100%; @include centerCol;
                                    .Nav { width: 100%; height: 50%; }
                                    #NavUp    { @include centerRow; justify-content: flex-end;
                                                div { width: fit-content; height: 20px; background: $Blanc; padding: 15px 30px; border-radius: 15px; margin-right: 30px; @include centerRow; box-shadow: 0px 4px 4px 0px #00000040; transition: .5s;
                                                      img { height: 150%; margin-right: 10px; transition: .5s;}
                                                      p   { font-family: Quicksand; font-weight: bold; font-size: 30px; color: $Jaune; transition: .5s;}
                                                      &:hover { filter: drop-shadow(0 0 4px $Blanc);}
                                                    }
                                              }
                                    #NavDown  { position: relative;
                                                #Pointer { height: 5px; width: 50px; border-radius: 5px; background: $Jaune; position: absolute; transition: .5s; top: 70px;}
                                                ul  { width: 100%; height: 100%; @include centerRow; justify-content: space-around;
                                                      li  { width: fit-content;
                                                            a { font-family: Quicksand; color: $Blanc; font-weight: bold; font-size: 25px; transition: .5s;
                                                                &:hover { color: $Blanc; filter: drop-shadow(0 0 4px $Blanc);}
                                                              }
                                                          }
                                                    }
                                              }
                                  }
                  }
          #HeaderCarousel { width: 100%; height: 500px; background: blue;
                            img { width: 100%; height: 100%;}
                          }
        }