@import "./constantes.scss";

#Recettes h2,#Recettes h1   { font-family: KanitBold; font-size: 30px; color: $Bleu; margin-bottom: 30px; filter: drop-shadow(0px 4px 4px rgba(0, 37, 64, 0.25));}
#Recettes p  { font-family: Quicksand; font-size: 18px; color: $BleuAlt; filter: drop-shadow(0px 4px 4px rgba(0, 37, 64, 0.25));}
#Recettes * {transition: .5s;}

.selected   { background: $Bleu; color: $Jaune;}
.notselected { background: $BleuAlt; color: $Blanc;}
.hideArrow { display: none; background: transparent; border: none;}
.showArrow { display: block; background: transparent; border: none;}

#Recettes { width: 100%; height: fit-content; margin: auto; padding: 100px 0; @include centerCol; background: url("../../../public/Icons/Group\ 61.svg"); position: relative;
            #bouttons   { width: 30%; height: 55px; border-radius: 20px; display: flex; justify-content: space-between; overflow: hidden; position: relative; margin-bottom: 40px;
                          button  { width: 49.7%; height: 100%; background: $Bleu; border: none; color: $Blanc; font-family: Quicksand; font-size: 24px; font-weight: bold; transition: .5s; @include centerRow;
                                    &:hover { background: $BleuAlt; color: $Blanc; cursor: pointer;}
                                  }
                        }
            #favorited  { width: 100%; height: fit-content; @include centerCol; display: flex; opacity: 1; transition: .5s;}
            #created    { width: 100%; height: fit-content; @include centerCol; display: none; opacity: 0; transition: .5s;}
            #Hello      { width: 80%; height: 175px;
                          #hi   { font-family: KanitMedium; font-size: 30px; color: $Bleu; margin-bottom: 20px;}
                          a     { font-family: KanitMedium; font-size: 30px; color: $Orange;
                                  &:hover { color: $Jaune;}
                                }
                        }
            #searchBar  { width: 60%; height: 35px; position: relative; @include centerRow; margin-bottom: 75px;
                          input { width: 100%; height: 100%; border: 3px solid $Bleu; border-radius: 7px; padding: 10px; color: $Bleu; font-family: Quicksand; font-size: 18px; font-weight: bold; text-indent: 10px; filter: drop-shadow(0px 4px 4px rgba(0, 37, 64, 0.25));
                                  &:hover { font-size: 22px; color: $Jaune; border: 3px solid $Jaune;}
                                  &:focus { outline: none; font-size: 22px; color: $Jaune; border: 3px solid $Jaune;}
                                }
                          img   { width: 35px; position: absolute; right: 15px;
                                  &:hover{ filter: saturate(100%) brightness(0%); filter: invert(82%) sepia(26%) saturate(1243%) hue-rotate(334deg) brightness(101%) contrast(104%);}
                                }
                        }
            #filters    { width: 60%; min-height: 50px; height: fit-content; @include centerRow; justify-content: space-around; margin-bottom: 50px;
                          select  { width: 150px; padding: 15px; font-family: Quicksand; font-size: 22px; font-weight: bold; border: none; border-radius: 10px; background: $Bleu; color: $Blanc; appearance: none; background-image: url("../../../public/Icons/SelectArrow.svg"); background-repeat: no-repeat; background-position: right 0.7rem top 50%; background-size: 0.65rem auto; filter: drop-shadow(0px 4px 4px rgba(0, 37, 64, 0.25));
                                    &:focus { outline: none;}
                                    &:nth-child(3){width: 190px;}
                                  }
                        }
            #Display    { width: 90%; height: 730px; background: url(../../../public/Images/Display.jpg) no-repeat; background-size: cover; border-radius: 25px; @include centerRow; filter: drop-shadow(0px 4px 4px rgba(0, 37, 64, 0.25));
                          ul  { width: 90%; height: 90%; @include centerRow; flex-wrap: wrap; justify-content: space-around;
                                li  { min-width: 200px; width: 21%; max-width: 256px; height: 45%; max-height: 300px; background: $Blanc; position: relative; border: 3px solid $Jaune; border-radius: 30px; overflow: hidden;
                                      img { width: 100%; height: 100%;}
                                      .front  { width: 100%; height: 100%; position: absolute; z-index: 5; @include centerCol; justify-content: flex-end; align-items: flex-start; background: linear-gradient(180deg, rgba(255,255,255,0) 20%, rgba(41,47,54,1) 100%);
                                                p:nth-child(1)  { font-size: 15px; font-weight: bold; color: $Blanc; margin: 0 0 5px 15px;}
                                                p:nth-child(2)  { font-size: 20px; font-weight: bold; color: $Blanc; margin: 0 0 25px 15px;}
                                              }
                                    }
                              }
                             
                        }

            #Choice { width: 50%; height: 50px; @include centerRow; margin: auto;
              .hideArrow  { display: none; background: transparent; border: none;
                            img { height: 25px;}
                            &:hover { cursor: pointer;
                                      img { filter: saturate(100%) brightness(0%); filter: invert(65%) sepia(95%) saturate(325%) hue-rotate(350deg) brightness(102%) contrast(102%);}
                                    }
                          }
              .showArrow { display: block; background: transparent; border: none;
                            img { height: 25px;}
                            &:hover { cursor: pointer;
                                      img { filter: saturate(100%) brightness(0%); filter: invert(65%) sepia(95%) saturate(325%) hue-rotate(350deg) brightness(102%) contrast(102%);}
                                    }
                          }
              .arrows { background: transparent; border: none; margin: 0 5px;
                        img { height: 25px;}
                        &:hover { cursor: pointer;
                                  img { filter: saturate(100%) brightness(0%); filter: invert(65%) sepia(95%) saturate(325%) hue-rotate(350deg) brightness(102%) contrast(102%);}
                                }
                      }
              .select { width: 35px; height: 35px; margin: 0 5px; border-radius: 50%; border: none; font-family: Quicksand; font-size: 18px; font-weight: bold;
                        &:hover { background: $Jaune; color: $Bleu; cursor: pointer;}
                      }
              #previous {
                          img {transform: rotate(180deg);}
                        }
            }
          }

#LoginWarning { width: 100%; height: 100vh; background: $Blanc; position: absolute; top: 0; z-index: 100000; @include centerRow;
                #warning  { width: 30%; height: 200px; background: $Blanc; position: absolute; border-radius: 15px; border: 3px solid $BleuAlt; @include centerCol; z-index: 15;
                            p { width: 80%; font-family: KanitMedium; font-size: 18px; color: $Bleu;}
                            #warningChoice  { width: 80%; height: 20%; @include centerRow; justify-content: space-around; margin-top: 50px;
                                              a { font-family: KanitMedium; font-size: 18px; color: $Blanc; background: $Bleu; border-radius: 15px; padding: 10px 20px; transition: .5s;
                                                  &:hover { background: $Jaune; color: $Bleu;}
                                                }
                                            }
                          }
                #backImg  { width: 100%; height: 100%; position: absolute; z-index: 5; background: url("../../../public/Icons/Group\ 60.svg");}
                #back     { width: 100%; height: 100%; position: absolute; z-index: 10; background: $JauneT;}
              }

// RESPONSIVE
@media screen and (min-width: 1450px) {
  #Display  {
              ul  {
                    li  {margin: 0 5%;}
                  }
            }
}
@media screen and (max-width: 1250px) {
  #Display  {

            }
}